/*/////////////////////////////////NAVBAR*/
#navbar {
    width: 256px;
    height: 100vh;
    position: fixed;
    overflow: auto;
    background-color: black;
    color: white;
    padding: 16px;
    font-family: 'Orbitron', sans-serif;
}

#navbar img {
    height: 128px;
    margin: 16px;
}

#navbar p {
    font-size: 24px;
    margin-bottom: 64px;
}

#navbar ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

#navbar li.option {
    margin: 8px 0px;
    padding: 4px;
}

#navbar .option:hover {
    background-color: rgb(32,32,32);
}

#navbar a {
    color: white;
}

#navbar a:hover{
    text-decoration: none;
}

#navbar input {
    width: 100%;
    background-color: black;
    border: none;
    color: white;
}
/*/////////////////////////////////NAVBAR*/
/*/////////////////////////////////CONTENT*/
#content {
    margin-left: 256px;
    padding: 32px;
    font-family: 'Orbitron', sans-serif;
}
/*/////////////////////////////////CONTENT*/
/*/////////////////////////////////USERS*/
#searchGroup form {
    width: 288px;
    display: flex;
    margin-bottom: 32px;
}

#searchInput {
    border: 2px solid black;
    border-radius: 4px 0px 0px 4px;
    height: 32px;
    text-indent: 4px;
    align-self: flex-start;
}

#searchButton {
    background: url("..\\img\\search_icon.png") no-repeat;
    background-size: contain;
    border: 2px solid black;
    border-radius: 0px 4px 4px 0px;
    height: 32px;
    width: 32px;
    align-self: flex-end;
}

#content a.disabled {
    pointer-events: none;
}

.navigation {
    text-align: end;
    padding-right: 64px;
}

.navigation a {
    text-decoration: none !important;
}

.btnNav {
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

.btnPrev {
    background-image: url("..\\..\\resources\\img\\left.png");
}

a.disabled .btnPrev {
    background-image: url("..\\..\\resources\\img\\left_disabled.png");
}

.btnNext {
    background-image: url("..\\..\\resources\\img\\right.png");
}

a.disabled .btnNext {
    background-image: url("..\\..\\resources\\img\\right_disabled.png");
}

td {
    width: 20%;
}

td .btn {
    padding: 0px 4px;
}

/*/////////////////////////////////USERS*/
/*/////////////////////////////////SCHEDULE*/
#content h4 {
    text-align: center;
}

.btnAdd {
    font-size: 16px;
}

.activityGroup {
    background-color: rgb(220,220,220);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    text-align: center;
    font-size: 14px;
}

.myActivity {
    background-color: orange;
}

.activityGroup p {
    margin: 2px 0px;
}

.activityName {
    font-weight: bolder;
}

.activityButton {
    margin-top: 4px;
    padding: 0px 4px;
    width: 80%;
    font-size: 12px;
}

/*/////////////////////////////////SCHEDULE*/
/*/////////////////////////////////ADD_ACTIVITY*/
.addGroup {
    margin: 64px 256px;
}

.addGroup input {
    margin-bottom: 24px;
}

.addGroup ul {
    list-style-type: none;
}

.addGroup li {
    font-size: 16px;
}

.inputAdd {
    width: 100%;
}

.btnAdd {
    width: 100%;
}
/*/////////////////////////////////ADD_ACTIVITY*/