body {
    background-size: cover;
    background: url("../../resources/img/background.jpg") no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.content {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 64px;
    border-radius: 16px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    color: black;
}

.content .row {
    margin-top: 4px;
    margin-bottom: 4px;
}

.content h1 {
    font-size: 64px;
    margin-bottom: 32px;
}

.content input {
    border-radius: 4px;
}

.content .btn {
    margin: 16px 32px;
    padding: 8px;
    width: 128px;
}

.btnBack {
    width: 64% !important;
    font-weight: bolder;
}

.error {
    color: darkred;
    font-size: 12px;
}