<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Activity</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/inner.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li th:if="${avatar!=null}"><img th:src="@{'data:image/;base64,'+${avatar}}"/></li>
                <li th:if="${avatar==null}"><img src="../../resources/img/user_default.png"/></li>
                <li><p th:text="${username}"></p></li>
                <li class="option"><a th:href="@{/schedule}" th:text="#{navbar.schedule}"></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/clients}" th:text="#{navbar.clients}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employees}" th:text="#{navbar.employees}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employee/add}" th:text="#{navbar.addemployee}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="option">
                    <a th:href="@{/activity/my}" th:text="#{navbar.myactivities}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_EMPLOYEE')" class="option">
                    <a th:href="@{/profile}" th:text="#{navbar.profile}"></a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" th:attr="value=#{navbar.logout}" class="option"/>
                    </form>
                </li>
            </ul>
        </div>
        <div id="content">
            <h1 th:text="#{title.addactivity}"></h1>
            <hr/>
            <div class="addGroup">
                <form th:action="@{add}" method="post">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <label th:text="#{activity.name}" for="name"></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="name" name="name" th:required="required"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label th:text="#{activity.hour}" for="hour"></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="time" id="hour" name="hour" th:required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <ul>
                                <li><input type="radio" name="day" th:text="#{day.monday}" th:value="${T(com.gym.model.Day).MONDAY}" th:required="required"/></li>
                                <li><input type="radio" name="day" th:text="#{day.tuesday}" th:value="${T(com.gym.model.Day).TUESDAY}" th:required="required"/></li>
                                <li><input type="radio" name="day" th:text="#{day.wednesday}" th:value="${T(com.gym.model.Day).WEDNESDAY}" th:required="required"/></li>
                                <li><input type="radio" name="day" th:text="#{day.thursday}" th:value="${T(com.gym.model.Day).THURSDAY}" th:required="required"/></li>
                                <li><input type="radio" name="day" th:text="#{day.friday}" th:value="${T(com.gym.model.Day).FRIDAY}" th:required="required"/></li>
                            </ul>
                        </div>
                    </div>
                    <input type="submit" th:attr="value=#{button.add}" class="btn btn-warning btnAdd"/>
                </form>
            </div>
        </div>
    </body>
</html>