<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Employee</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/inner.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div id="navbar">
    <ul>
        <li th:if="${avatar!=null}"><img th:src="@{'data:image/;base64,'+${avatar}}"/></li>
        <li th:if="${avatar==null}"><img src="../../resources/img/user_default.png"/></li>
        <li><p th:text="${username}"></p></li>
        <li class="option"><a th:href="@{/schedule}" th:text="#{navbar.schedule}"></a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
            <a th:href="@{/clients}" th:text="#{navbar.clients}"></a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
            <a th:href="@{/employees}" th:text="#{navbar.employees}"></a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
            <a th:href="@{/employee/add}" th:text="#{navbar.addemployee}"></a>
        </li>
        <li sec:authorize="hasRole('ROLE_USER')" class="option">
            <a th:href="@{/activity/my}" th:text="#{navbar.myactivities}"></a>
        </li>
        <li sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_EMPLOYEE')" class="option">
            <a th:href="@{/profile}" th:text="#{navbar.profile}"></a>
        </li>
        <li>
            <form th:action="@{/logout}" method="post">
                <input type="submit" th:attr="value=#{navbar.logout}" class="option"/>
            </form>
        </li>
    </ul>
</div>
<div id="content">
    <h1 th:text="#{title.addemployee}"></h1>
    <hr/>
    <div class="addGroup">
        <form th:action="@{add}" method="post" th:object="${user}">
            <div class="row">
                <div class="col-md-5">
                    <label th:text="#{form.username}" for="username"></label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="username" name="username" th:field="*{username}" th:required="required" class="inputAdd"/>
                    <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label th:text="#{form.mail}" for="mail"></label>
                </div>
                <div class="col-md-7">
                    <input type="email" id="mail" name="mail" th:field="*{mail}" th:required="required" class="inputAdd"/>
                    <p class="error" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label th:text="#{form.password}" for="passwordTmp"></label>
                </div>
                <div class="col-md-7">
                    <input type="password" id="passwordTmp" name="passwordTmp" th:field="*{passwordTmp}" th:required="required" class="inputAdd"/>
                    <p class="error" th:if="${#fields.hasErrors('passwordTmp')}" th:errors="*{passwordTmp}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label th:text="#{form.passwordconfirm}" for="passwordConfirmTmp"></label>
                </div>
                <div class="col-md-7">
                    <input type="password" id="passwordConfirmTmp" name="passwordConfirmTmp" th:field="*{passwordConfirmTmp}" th:required="required" class="inputAdd"/>
                    <p class="error" th:if="${#fields.hasErrors('passwordConfirmTmp')}" th:errors="*{passwordConfirmTmp}"></p>
                </div>
            </div>
            <input th:attr="value=#{button.register}" type="submit" class="btn btn-warning btnAdd"/>
        </form>
    </div>
</div>
</body>
</html>