<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Clients</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/inner.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li th:if="${avatar!=null}"><img th:src="@{'data:image/;base64,'+${avatar}}"/></li>
                <li th:if="${avatar==null}"><img src="../../resources/img/user_default.png"/></li>
                <li><p th:text="${username}"></p></li>
                <li class="option"><a th:href="@{/schedule}" th:text="#{navbar.schedule}"></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/clients}" th:text="#{navbar.clients}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employees}" th:text="#{navbar.employees}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employee/add}" th:text="#{navbar.addemployee}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="option">
                    <a th:href="@{/activity/my}" th:text="#{navbar.myactivities}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_EMPLOYEE')" class="option">
                    <a th:href="@{/profile}" th:text="#{navbar.profile}"></a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" th:attr="value=#{navbar.logout}" class="option"/>
                    </form>
                </li>
            </ul>
        </div>
        <div id="content">
            <div id="searchGroup">
                <form th:action="@{/clients}" method="get">
                    <input id="searchInput" type="text" name="phrase"
                           th:value="(${param.phrase}==null) ? '' : ${param.phrase[0]}"
                           th:required="required"/>
                    <input id="searchButton" type="submit" value=""/>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{table.username}"></th>
                            <th th:text="#{table.mail}"></th>
                            <th th:text="#{table.action}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.mail}"></td>
                            <td>
                                <form th:action="@{/clients}" method="post">
                                    <input type="hidden" name="user_id" th:value="${user.id}"/>
                                    <input type="submit" th:attr="value=#{button.delete}" class="btn btn-warning"/>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="navigation" th:if="${param.phrase == null}">
                <a th:class="${has_prev}? '' : 'disabled'"
                   th:href="@{/clients/page/{page}(page=${page}-1)}">
                    <button class="btn btnNav btnPrev"></button>
                </a>
                <a th:class="${has_next}? '' : 'disabled'"
                   th:href="@{/clients/page/{page}(page=${page}+1)}">
                    <button class="btn btnNav btnNext"></button>
                </a>
            </div>
            <div class="navigation" th:if="${param.phrase != null}">
                <a th:class="${has_prev}? '' : 'disabled'"
                   th:href="@{/clients/page/{page}?phrase={phrase}(page=${page}-1, phrase=${param.phrase[0]})}">
                    <button class="btn btnNav btnPrev"></button>
                </a>
                <a th:class="${has_next}? '' : 'disabled'"
                   th:href="@{/clients/page/{page}?phrase={phrase}(page=${page}+1, phrase=${param.phrase[0]})}">
                    <button class="btn btnNav btnNext"></button>
                </a>
            </div>
        </div>
    </body>
</html>