<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Gym</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{resources/css/outer.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="content">
            <h1 th:text="#{title.message}"></h1>
            <span sec:authorize="!isAuthenticated()">
                <a th:href="@{login}" th:text="#{button.login}" class="btn btn-warning"></a>
                <a th:href="@{register}" th:text="#{button.signup}" class="btn btn-warning"></a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{schedule}" th:text="#{button.enter}" class="btn btn-warning"></a>
            </span>
        </div>
    </body>
</html>