<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{resources/css/outer.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="content">
            <h2 th:text="#{title.login}"></h2>
            <hr/>
            <span sec:authorize="isAuthenticated()">
                <h2 th:text="#{info.loggedin}" class="text-danger"></h2>
                <a th:href="@{/schedule}" th:text="#{button.enter}" class="btn btn-warning"></a>
            </span>
            <span sec:authorize="!isAuthenticated()">
                <form th:action="@{/login}" method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <label th:text="#{form.username}" for="username"></label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" id="username" name="username"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label th:text="#{form.password}" for="password"></label>
                        </div>
                        <div class="col-md-7">
                            <input type="password" id="password" name="password"/>
                        </div>
                    </div>
                    <input th:attr="value=#{button.login}" type="submit" class="btn btn-warning"/>
                    <a th:href="@{/}" th:text="#{button.cancel}" class="btn btn-default"></a>
                </form>
            </span>
        </div>
    </body>
</html>