<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>My profile</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/inner.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li th:if="${avatar!=null}"><img th:src="@{'data:image/;base64,'+${avatar}}"/></li>
                <li th:if="${avatar==null}"><img src="../../resources/img/user_default.png"/></li>
                <li><p th:text="${username}"></p></li>
                <li class="option"><a th:href="@{/schedule}" th:text="#{navbar.schedule}"></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/clients}" th:text="#{navbar.clients}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employees}" th:text="#{navbar.employees}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employee/add}" th:text="#{navbar.addemployee}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="option">
                    <a th:href="@{/activity/my}" th:text="#{navbar.myactivities}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_EMPLOYEE')" class="option">
                    <a th:href="@{/profile}" th:text="#{navbar.profile}"></a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" th:attr="value=#{navbar.logout}" class="option"/>
                    </form>
                </li>
            </ul>
        </div>
        <div id="content">
            <h1 th:text="#{title.editprofile}"></h1>
            <hr/>
            <div class="addGroup">
                <form th:action="@{/profile/avatar}" method="post" enctype="multipart/form-data">
                    <label th:text="#{form.changeimage}" for="image"></label>
                    <input type="hidden" name="MAX_FILE_SIZE" value="6000000"/>
                    <input type="file" id="image" name="image" value="" accept="image/*" th:required="required"/>
                    <input type="submit" th:attr="value=#{button.add}" class="btn btn-warning btnAdd"/>
                </form>

                <form th:action="@{/profile/mail}" method="post">
                    <label th:text="#{form.changemail}" for="mail"></label><br/>
                    <input type="mail" id="mail" name="mail" th:value="${mail}" class="inputAdd" th:required="required"/>
                    <input type="submit" th:attr="value=#{button.update}" class="btn btn-warning btnAdd"/>
                </form>
            </div>
        </div>
    </body>
</html>