<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Schedule</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/inner.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li th:if="${avatar!=null}"><img th:src="@{'data:image/;base64,'+${avatar}}"/></li>
                <li th:if="${avatar==null}"><img src="../../resources/img/user_default.png"/></li>
                <li><p th:text="${username}"></p></li>
                <li class="option"><a th:href="@{/schedule}" th:text="#{navbar.schedule}"></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/clients}" th:text="#{navbar.clients}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employees}" th:text="#{navbar.employees}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="option">
                    <a th:href="@{/employee/add}" th:text="#{navbar.addemployee}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="option">
                    <a th:href="@{/activity/my}" th:text="#{navbar.myactivities}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_EMPLOYEE')" class="option">
                    <a th:href="@{/profile}" th:text="#{navbar.profile}"></a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" th:attr="value=#{navbar.logout}" class="option"/>
                    </form>
                </li>
            </ul>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <h4 th:text="#{day.monday}"></h4>
                </div>
                <div class="col-md-2">
                    <h4 th:text="#{day.tuesday}"></h4>
                </div>
                <div class="col-md-2">
                    <h4 th:text="#{day.wednesday}"></h4>
                </div>
                <div class="col-md-2">
                    <h4 th:text="#{day.thursday}"></h4>
                </div>
                <div class="col-md-2">
                    <h4 th:text="#{day.friday}"></h4>
                </div>
                <div class="col-md-1">
                    <span sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_ADMIN')">
                        <a th:href="@{activity/add  }" class="btn btn-warning"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" th:each="activities : ${activityAll}">
                    <div class="row" th:each="activity : ${activities}">
                        <div th:class="${user.hasActivity(activity.id) ? 'activityGroup myActivity' : 'activityGroup'}">
                            <p th:text="${activity.name}" class="activityName"></p>
                            <p th:text="${activity.hour}" class="activityHour"></p>
                            <span sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_ADMIN')">
                                <form th:action="@{/schedule/delete}" method="post">
                                    <input type="hidden" name="activity_id" th:value="${activity.id}"/>
                                    <input type="submit" th:attr="value=#{button.delete}" class="btn btn-default activityButton"/>
                                </form>
                            </span>
                            <span sec:authorize="hasRole('ROLE_USER')">
                                <span th:if="${user.hasActivity(activity.id)}">
                                    <form th:action="@{/schedule/signout}" method="post">
                                        <input type="hidden" name="activity_id" th:value="${activity.id}"/>
                                        <input type="submit" th:attr="value=#{button.signout}" class="btn btn-default activityButton"/>
                                    </form>
                                </span>
                                <span th:if="${!user.hasActivity(activity.id)}">
                                    <form th:action="@{/schedule/signup}" method="post">
                                        <input type="hidden" name="activity_id" th:value="${activity.id}"/>
                                        <input type="submit" th:attr="value=#{button.signup}" class="btn btn-default activityButton"/>
                                    </form>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </body>
</html>